.news-container {
    position: fixed;
    top:80px;
    left: 0px;
    width: 230px;
    height: 70vh;
    display: none;
}
@media(min-width: 800px){
    .news-container {
        display: block;
    }
}
@media(min-width: 1300px){
    .news-container {
        padding-left: 5%;
    }
}
@media(min-width: 1600px) {
    .news-container {
        padding-left: 12%;
    }
}
@media(min-width: 1800px){
    .news-container {
        padding-left: 16%;
    }
}


.news-figure {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 18px 20px;
    color:black;
}
a {
    text-decoration: none;
}
.small {
    font-size: 11px;
}
.small::before{
    display: inline-block;
    content: '';
    background-color: #0000ff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 3px;
}
.news-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.news-name {
    margin-left: 10px;
    
}
.news-name:hover {
    text-decoration: underline;
}

.news-item:hover{
    background-color: #d3d3d3;
    border-radius: 10px;
    cursor: pointer;
}

.fas {
    font-size: 30px;
    border-radius: 50%;
}
.news-projects {
   
}